<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>${project} ${release}</title>
    </head>
    <body>
        <h3>${project} ${release}</h3>
        <ul>
        <#list commitTitles as commitTitle>
            <li>${commitTitle}</li>
        </#list>
        </ul>
    </body>
</html>
